VITE_API_BASE_URL=https://dev-vistaar.da.gov.in
VITE_API_KEY=token-goes-here
VITE_BHASHINI_API_KEY=
VITE_STREAMING_ASR_ENABLED=true
VITE_VOICE_GATEWAY_URL=wss://bhashini-bh-ald.kenpath.ai/voice-gateway/voice
VITE_VOICE_GATEWAY_ENABLED=true
MODE=development
